{% extends 'base.html.twig' %}

{% block title %}Modifier un utilisateur
{% endblock %}

{% block body %}
	<div class="container mt-5">
		<div class="row justify-content-center">
			<div class="col-md-6">
				<div class="card shadow">
					<div class="card-body">
						<h1 class="h3 mb-3 font-weight-normal text-center">Modifier l'utilisateur</h1>

						{{ form_start(form) }}

						<div class="mb-3">
							{{ form_label(form.firstname, 'Prénom', { 'label_attr': {'class': 'form-label'} }) }}
							{{ form_widget(form.firstname, { 'attr': {'class': 'form-control'} }) }}
							{{ form_errors(form.firstname) }}
						</div>

						<div class="mb-3">
							{{ form_label(form.lastname, 'Nom', { 'label_attr': {'class': 'form-label'} }) }}
							{{ form_widget(form.lastname, { 'attr': {'class': 'form-control'} }) }}
							{{ form_errors(form.lastname) }}
						</div>

						<div class="mb-3">
							{{ form_label(form.email, 'Email', { 'label_attr': {'class': 'form-label'} }) }}
							{{ form_widget(form.email, { 'attr': {'class': 'form-control'} }) }}
							{{ form_errors(form.email) }}
						</div>

						<div class="mb-3">
							{{ form_label(form.roles, 'Rôles', { 'label_attr': {'class': 'form-label'} }) }}
							{{ form_widget(form.roles, { 'attr': {'class': 'form-check'} }) }}
							{{ form_errors(form.roles) }}
						</div>


						<div class="d-grid">
							<button type="submit" class="btn btn-warning btn-lg">Modifier</button>
						</div>

						{{ form_end(form) }}

						<div class="mt-3 text-center">
							<a href="{{ path('app_user_index') }}" class="btn btn-secondary">Retour à la liste</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
{% endblock %}

